# Deps
node_modules
.pnp
.pnp.js
.pnpm-store

# Enviroment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Build
dist
dist-ssr
out
build
cache

# Logs
logs
*.log
pnpm-debug.log*

# Editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
